{% extends "layout.html" %}

{% block title %} signup {% endblock %}

{% block contents %}
    <div class="signup-form">
        <h1>Sign Up</h1>
        <form class="" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <p>ID:{{ form.ID }}</p>
            <p>PASSWORD:{{ form.PASSWORD }}</p>
            <p>E-mail:{{ form.Email }}</p>
            <button type="submit" class="save btn btn-default">sign up</button>
        </form>

        <h2>External authentication</h2>
        <p>twitter facebook...</p>
    </div>


    <p>if you have your account, visit <a href="{% url 'signin' %}">sign in</a>.</p>
{% endblock %}
