main{
    @include outer-base;
    margin: 3vh 0 3vh 0;
    min-height: 90vh;
    @include main-text;
    text-align: center;
    display: block;

    .contents{

        text-align: center;
        .section{
            &::before{
                content: '';
                display: inline-block;
                width: 17px;
                height: 25px;
                background-image: url(../home/section.png);
                background-size: contain;
                vertical-align: middle;
            }
        }


        .overview{
            margin: 50 0;
            text-align: left;
        }
        .tutorial{
            text-align: left;
            .danger{
                color: red;

                &::before{
                    content: "※"
                }
            }
            .notice{
                border-bottom: solid 1px blue;

            }

            img{
                border: solid 1px;
            }

        }
    }


}

.create-model-title{
    text-align: center;
    margin: 30px 30px;
    padding: 10px;
}

.model-board{
    margin: 2vh 5vw;
    width: 90vw;
}

.models{
    padding: 0.5em 1em;
    margin: 2em 0;
    // border: double 5px #2B8051;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: inherit;
        }
        &:visited{
            color: inherit;
        }
    }

}

.model{
    margin: 5 0;
    background: $main-color;
    border: solid 3px #2B8051;
    display: flex;
    justify-content: space-between;

    .model-title{
        padding: 0 1em;
        font-size: 1.2em;
        font-weight: bold;
        color: #FFF;
        letter-spacing: 0.05em;
    }

    .model-user{
        font-size: 0.9em;
        padding: 0 1em;
        letter-spacing: 0.05em;
        margin-left: auto;
    }

    .model-date{
        font-size: 0.5em;
        padding: 0 1em;
        color: #FFF;
        letter-spacing: 0.05em;
        border: solid 1px #2B8051;
    }

    .model-contents{
        // .model-description{
        //     font-size: 0.8em;
        //     background: #c9ffe2;
        //     padding: 4px;
        //     letter-spacing: 0.05em;
        // }
    }



    p{
        padding: 15px 20px;
        margin: 0;
    }
}


.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}

.create-model{
    margin: 5vh 10vw;
    width: 80vw;
    .create-form{
        margin: auto 0;
        padding: 1vh;

        table{
            margin: auto;
        }
        th,td{
            margin: auto;
            padding: 1vw 2vw;
            text-align: center;
        }
    }
}

.model-detail {
    text-align: center;
    margin: auto;
    width: 90vw;
    overflow-x: scroll;

    table.detail {
        // border: solid 1px #000;
        text-align: center;
        margin: auto;
        padding: auto;

        table{
            margin: auto;
        }
        th{
            margin: auto;
            text-align: center;
        }
        td{
            white-space: nowrap;
            height: auto;
            width: auto;
            margin: auto;
            padding: 5 15;
            text-align: center;
        }

    }
}

.edit-model {
    margin: auto 0;
    .edit-form {
        margin: auto 0;
        padding: 1vh;

        table{
            margin: auto;
        }
        th,td{
            margin: auto;
            padding: 1vw 2vw;
            text-align: center;
        }
    }
}

.button-set{
    margin: auto;
    width: 80vw;
    padding: 1vh 1vw;


    .left{
        display: inline-block;
        text-align: left;
        width: 35vw;

        text-align: left;
        form{
            display: inline-block;
        }
    }

    .right{
        display: inline-block;
        text-align: right;
        width: 35vw;

        text-align: right;
        form{
            display: inline-block;
        }
    }
}

.parameter_list{
    table{
        tr{
            th{
                background-color: #dcdcdc;
                padding-right: 10;
                padding-left: 10;
                border: solid 1px;
            }

            td{
                padding-right: 10;
                padding-left: 10;
                border: solid 1px;
            }
        }
    }
}
