@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none;
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; }

header {
  background-color: #3CB371;
  margin: 0;
  position: relative; }

.page-header {
  margin: auto;
  padding: 0 30px;
  max-width: 1200;
  border: none; }
  .page-header h1 {
    padding: 30px 0;
    text-align: center; }
    .page-header h1 > a {
      font-size: 30px;
      line-height: 40px;
      font-weight: lighter;
      color: white;
      text-decoration: none; }
      @media screen and (min-width: 481px) {
        .page-header h1 > a {
          font-size: 45px;
          line-height: 55px; } }
      @media screen and (min-width: 769px) {
        .page-header h1 > a {
          font-size: 60px;
          line-height: 70px; } }
  .page-header h4 {
    position: absolute;
    top: 20px;
    right: 30px;
    display: none; }
    .page-header h4:nth-child(3) {
      right: 160px; }
    .page-header h4 a {
      font-size: 28px;
      line-height: 40px;
      font-weight: lighter;
      color: white;
      text-decoration: none; }
    @media screen and (min-width: 769px) {
      .page-header h4 {
        display: inline; } }

.top-menu {
  list-style: none; }
  .top-menu a {
    font-size: 28px;
    line-height: 40px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    min-width: 190px;
    border-right: white 1px solid; }
  .top-menu li {
    padding: 15px 0; }
    .top-menu li:first-child > a {
      border-left: white 1px solid; }
  .top-menu ul {
    list-style: none; }
  @media screen and (min-width: 769px) {
    .top-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; }
      .top-menu li ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #2B8051;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none; }
      .top-menu li:hover {
        transition: 0.3s; }
        .top-menu li:hover > ul {
          display: flex;
          animation: show .5s; }
    @keyframes show {
      0% {
        display: flex;
        opacity: 0; }
      100% {
        opacity: 1; } } }
  @media screen and (max-width: 769px) {
    .top-menu {
      position: fixed;
      left: 0;
      top: 0;
      background-color: #2B8051;
      height: 2000px;
      padding: 40px;
      display: none; }
      .top-menu a {
        text-align: left; }
      .top-menu ul > li {
        padding-left: 20px; } }

main {
  margin: auto;
  padding: 0 30px;
  max-width: 1200;
  margin-top: 40px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300; }
  @media screen and (min-width: 481px) {
    main {
      font-size: 18px;
      line-height: 30px; } }
  @media screen and (min-width: 769px) {
    main {
      font-size: 20px;
      line-height: 35px; } }

img {
  max-width: 100%;
  height: auto; }
