@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none;
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; }

header {
  background-color: #3CB371;
  top: 0;
  position: sticky; }
  @media screen and (min-width: 769px) {
    header {
      position: inherit; } }
  header h1 {
    font-size: 30px;
    color: white;
    font-weight: lighter;
    text-align: left; }
    @media screen and (min-width: 481px) {
      header h1 {
        font-size: 50px;
        text-align: center; } }
    @media screen and (min-width: 769px) {
      header h1 {
        font-size: 70px; } }
    header h1 a, header h1 a:hover {
      color: white;
      text-decoration: none; }
  header div {
    position: relative;
    padding: 15px 10px;
    max-width: 1200px;
    margin: auto; }
    @media screen and (min-width: 481px) {
      header div {
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media screen and (min-width: 769px) {
      header div {
        padding-top: 50px;
        padding-bottom: 50px; } }

#menu-trigger {
  width: 40px;
  height: 35px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }
  #menu-trigger, #menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box; }
    @media screen and (min-width: 769px) {
      #menu-trigger, #menu-trigger span {
        display: none; } }
  #menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px; }
    #menu-trigger span:nth-of-type(1) {
      top: 0; }
    #menu-trigger span:nth-of-type(2) {
      top: 16px; }
    #menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  #menu-trigger.active span:nth-of-type(1) {
    transform: translateY(16px) rotate(-45deg); }
  #menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  #menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-16px) rotate(45deg); }

#top-menu {
  z-index: 2;
  background-color: #2B8051;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 220px;
  overflow: scroll;
  transition: .5s;
  left: -500px; }
  #top-menu.active {
    left: 0; }
  #top-menu ul {
    padding: 15px 10px;
    max-width: 1200px;
    margin: auto; }
  #top-menu li > ul {
    padding-top: 0;
    width: 100%;
    box-sizing: border-box; }
  #top-menu a, #top-menu p {
    font-size: 25px;
    line-height: 40px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    text-align: left;
    display: block;
    padding-left: 10px; }
    #top-menu a + ul, #top-menu p + ul {
      padding-left: 20px; }
  #top-menu a {
    border-bottom: white 1px solid; }
  #top-menu > ul > li {
    margin-bottom: 25px; }
  #top-menu li:hover i {
    animation: 1.5s ease .0s infinite normal rotate_loop; }

@keyframes rotate_loop {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  @media screen and (min-width: 769px) {
    #top-menu {
      background-color: #3CB371;
      position: sticky;
      bottom: initial;
      overflow: initial;
      width: auto; }
      #top-menu > ul > li {
        margin-bottom: 0; }
      #top-menu li {
        padding: 10px 0; }
        #top-menu li:first-child a, #top-menu li:first-child p {
          border-left: white 1px solid; }
        #top-menu li:hover ul {
          display: flex;
          animation: .5s feedin; }
      #top-menu a, #top-menu p {
        border: none;
        text-align: center;
        min-width: 150px;
        padding-right: 10px;
        border-right: white 1px solid; }
      #top-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        max-width: initial;
        position: relative; }
        #top-menu ul ul {
          display: none;
          background-color: #2B8051;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          padding: 0; }
    @keyframes feedin {
      0% {
        display: flex;
        opacity: 0; }
      100% {
        opacity: 1; } }
      #top-menu .signmenu {
        position: absolute;
        padding: 0;
        top: -250%;
        right: 10px; }
        #top-menu .signmenu:nth-of-type(even) {
          right: 110px; }
        #top-menu .signmenu a {
          padding: 4px;
          min-width: 0;
          line-height: normal;
          border: none !important; } }

main {
  padding: 15px 10px;
  max-width: 1200px;
  margin: auto;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  min-height: 600px; }
  @media screen and (min-width: 481px) {
    main {
      font-size: 18px;
      line-height: 30px; } }
  @media screen and (min-width: 769px) {
    main {
      font-size: 20px;
      line-height: 35px; } }

footer {
  background-color: #164029; }
  footer > div {
    min-height: 150px;
    position: relative;
    padding: 15px 10px;
    max-width: 1200px;
    margin: auto; }
  footer p {
    font-size: 25px;
    line-height: 40px;
    color: white;
    font-weight: lighter;
    text-decoration: none; }

.top-return {
  background-color: #164029;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  transition: .5s; }
  .top-return i {
    line-height: 60px; }
  .top-return:hover {
    top: -30px;
    color: white; }

img {
  max-width: 100%;
  height: auto; }
