{% extends "layout.html" %}

{% block title %} createmodel {% endblock %}

{% block contents %}
    <h1>created model</h1>

    <form class="create-model" action="{% url 'createmodel' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>user:{{ form.userid }}</p>
        <p>password:{{ form.password }}</p>
        <p>title:{{ form.title }}</p>
        <p>description:{{ form.description }}</p>
        <p>train_data:{{ form.train_data }}</p>
        <button type="submit" class="save btn btn-default">Create model</button>
    </form>
{% endblock %}
