{% extends "layout.html" %}

{% block title %} top {% endblock %}

{% block contents %}

    <div class="overview">
        <h2 class="section">サービス概要</h2>
        <p>本サービスは文章データのデータセットを元に，
        文章を分類するモデルを作成する無料サービスです．
        誰でも簡単に作成することができます．
        用意していただくものは，大量の文章データだけです．
        モデル一覧からモデル作成へ移動し以下の学習モデルの作り方を参考にしてください．
        </p>

    </div>

    <div class="tutorial">
        <h2 class="section">学習モデルの作り方</h2>
        <p>学習器の作成ページへ移動し，フォームを入力してください．</p>

        {% load static %}
        <img src="{% static 'home/create_model.png' %}" alt="crete-model" width="50%">
        <p>ユーザIDはユーザを識別するのに使います．</p>
        <p>パスワードはモデルの管理（編集，削除）に使います．</p>
        <p>タイトルはモデルのタイトルです．モデル一覧にそのタイトルが表示されます．</p>
        <p>説明はそのモデルの分類する分野や，ラベルを記述して下さい．</p>
        <br>
        <p>学習データは次の項目を満たす必要があります．</p>

        <li>"text1", "class1"のような形式で，csvファイルであること．</li>
        <li>データ数は分類するクラスごとに50個以上あること（100個以上あれば分類精度が上がる）．</li>

        <p class="danger">データセットの拡張子は.csvです．データセットはサーバに保存されます</p>

        <br>

        <p　class="notice">最後にモデル作成というボタンを押してください．
            モデルの作成にはデータの数に比例して数時間かかります．．</p>
        <br>

        <p>モデル一覧からモデルを選択すると詳細画面に移動します．
            その詳細画面にはモデルのハッシュ値や，サンプルで文章分類できるフォームがあります．
        </p>

        <h2 class="section">APIの使いかた</h2>
        <p>ソースコード</p>
        <img src="{% static 'home/api_sample.png' %}" alt="api-sample" width="50%">

        <p>http://www.mictosoft.work/api のURLに，
            分類に使用したいモデルハッシュと分類したいテキストをdetaとしてrequestしてください．
        </p>

    </div>

{% endblock %}
