{% extends "layout.html" %}

{% block title %} top {% endblock %}

{% block contents %}

    <div class="overview">

    </div>

    <div class="tutorial">
        <h2 class="section">学習モデルの作り方</h2>
        <p>学習器の作成ページへ移動し，フォームを入力してください．</p>

        {% load static %}
        <img src="{% static 'home/create_model.png' %}" alt="crete-model" width="50%">

        <p class="danger">データセットの拡張子は.csvです．データセットはサーバへ保存されます</p>
        <p　class="notice">最後にCreate Modelというボタンを押してください．モデルの作成には数分かかります．</p>
        <br>

        <h2 class="section">APIの使いかた</h2>
        <p>ソースコード</p>
        <img src="{% static 'home/api_sample.png' %}" alt="api-sample" width="50%">
    </div>

{% endblock %}
