@mixin outer-base{
    padding: 15px 20px;
    max-width: 1200px;
    margin: auto;
}


@mixin outer-header{
    @include outer-base;
    @include tablet{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include desktop{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
