{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <title>MicToSoft:{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <header>

        <body>
            <div class="page-header">
                <h1><a href="/">MicToSoft</a></h1>
                <h4><a href="{% url 'signup' %}" align="right">sign up</a></h4>
                <h4><a href="{% url 'signin' %}" align="right">sign in</a></h4>
                <ul class="top-menu">
                    <li><a href="{% url 'index' %}">home</a></li>
                    <!-- <li><a href="{% url 'signin' %}">signin</a>
                        <ul>
                            <li><a href="{% url 'signup' %}" class="sub-menu">signup</a></li>
                        </ul>
                    </li> -->
                    <li><a href="{% url 'board' %}">board</a>
                        <!-- <ul>
                            <li><a href="{% url 'models' %}">models</a></li>
                            <li><a href="{% url 'data' %}">data</a></li>
                        </ul> -->
                    </li>
                    <li><a href="{% url 'mypage' %}">mypage</a>
                        <ul>
                            <li><a href="{% url 'account' %}">account</a></li>
                            <li><a href="{% url 'managemodels' %}">managemodels</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="{% url 'about' %}">about</a>
                        <ul>
                            <li><a href="{% url 'help' %}">help</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </header>



        <main>
            <div class="content">
                {% block contents %} {% endblock %}
            </div>
        </main>



        <footer>
        </footer>

    </body>

</html>
