{% extends "layout.html" %}

{% block title %} create {% endblock %}

{% block contents %}
    <h1>created model</h1>

    <form class="model-create" action="{% url 'model_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>user:{{ form.userid }}</p>
        <p>password:{{ form.password }}</p>
        <p>title:{{ form.title }}</p>
        <p>description:{{ form.description }}</p>
        <p>train_data:{{ form.train_data }}</p>
        <button type="submit" class="save btn btn-default">Create model</button>
    </form>
{% endblock %}
