{% extends "layout.html" %}

{% block title %} create {% endblock %}

{% block contents %}
    <form class="create-model" action="{% url 'model_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-mdoel-form">
            <table border="1">
                <tr>
                    <td>{{ form.userid.label }}</td>
                    <td>{{ form.userid }}</td>
                </tr>

                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password }}</td>
                </tr>

                <tr>
                    <td>{{ form.title.label }}</td>
                    <td>{{ form.title }}</td>
                </tr>

                <tr>
                    <td>{{ form.description.label }}</td>
                    <td>{{ form.description }}</td>
                </tr>

                <tr>
                    <td>{{ form.train_data.label }}</td>
                    <td>{{ form.train_data }}</td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-default btn-lg btn-block">Create Model</button>
    </form>
{% endblock %}
