{% extends "layout.html" %}

{% block title %} modeldetail {% endblock %}

{% block contents %}
    <div class="model-detail">
        <table border="1">
            <tr>
                <td>userid</td>
                <td>{{ classifier.userid }}</td>
            </tr>
            <tr>
                <td>title</td>
                <td>{{ classifier.title }}</td>
            </tr>
            <tr>
                <td>description</td>
                <td>{{ classifier.description }}</td>
            </tr>
            <tr>
                <td>train_data</td>
                <td>{{ classifier.train_data }}</td>
            </tr>
            <tr>
                <td>acc_rate</td>
                <td>{{ classifier.acc_rate }}</td>
            </tr>
            <tr>
                <td>model_hash</td>
                <td>{{ classifier.model_hash }}</td>
            </tr>

            <tr>
                <td>created_date</td>
                <td>{{ classifier.created_date }}</td>
            </tr>

            <tr>
                <td>modified_date</td>
                <td>{{ classifier.modified_date }}</td>
            </tr>
        </table>

        <button type="button" class="btn btn-outline-primary btn-sm" name="button">edit</button>
        <button type="button" class="btn btn-outline-danger btn-sm" name="button">delete</button>

    </div>
{% endblock %}
