{% extends "layout.html" %}

{% block title %} modeldetail {% endblock %}

{% block contents %}
    <div class="model-detail">
        <table class="detail">
            <tr>
                <td>User ID</td>
                <td>{{ classifier.userid }}</td>
            </tr>
            <tr>
                <td>title</td>
                <td>{{ classifier.title }}</td>
            </tr>
            <tr>
                <td>description</td>
                <td><p>{{ classifier.description }}</p></td>
            </tr>
            <tr>
                <td>train_data</td>
                <td>{{ classifier.train_data }}</td>
            </tr>
            <tr>
                <td>acc_rate</td>
                <td>{{ classifier.acc_rate }}</td>
            </tr>
            <tr>
                <td>model_hash</td>
                <td>{{ classifier.model_hash }}</td>
            </tr>

            <tr>
                <td>created_date</td>
                <td>{{ classifier.created_date|date:"y/m/d H:i:s" }}</td>
            </tr>

            <tr>
                <td>modified_date</td>
                <td>{{ classifier.modified_date|date:"y/m/d H:i:s" }}</td>
            </tr>
        </table>


        <div class="button-set">
            <form id="form_button2" action="{% url 'model_detail' classifier.pk %}" method="POST">
                {% csrf_token %}
                password
                <input type="text" name="password" value="">
                <button class="btn btn-primary" type="submit" name="edit" value="edit">EDIT</button>
                <button class="btn btn-danger" type="submit" name="delete" value="delete">DELETE</button>
            </form>
        </div>


    </div>
{% endblock %}
