{% extends "layout.html" %}

{% block title %} create {% endblock %}

{% block contents %}
    <div class="edit-model">
        <form class="edit-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.userid.label }}</td>
                    <td>{{ form.userid }}</td>
                </tr>

                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password }}</td>
                </tr>

                <tr>
                    <td>{{ form.title.label }}</td>
                    <td>{{ form.title }}</td>
                </tr>

                <tr>
                    <td>{{ form.description.label }}</td>
                    <td>{{ form.description }}</td>
                </tr>

                <tr>
                    <td>{{ form.train_data.label }}</td>
                    <td>{{ form.train_data }}</td>
                </tr>
            </table>

            <input type="text" name="" value="">
            <div class="button-set">
                <button type="submit" class="btn btn-primary" name="button" >Done</button>
            </div>

        </form>
    </div>

{% endblock %}
