{% extends "layout.html" %}

{% block title %} board {% endblock %}

{% block contents %}
    <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='{% url 'model_create' %}'">Create Model</button>

    <div class="models">
        {% for classifier in classifiers %}
            <a href="{% url 'model_detail' pk=classifier.pk %}">
                <div class="model">
                    <div class="model-title">
                        {{ classifier.title }}
                    </div>

                    <div class="model-contents">
                        <div class="model-user">
                            {{ classifier.userid }}
                        </div>

                        <div class="model-date">
                            {{ classifier.created_date }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
